/*
Theme Name:     Hoverboard Child 
Theme URI:      https://github.com/copterlabs/hoverboard-child
Description:    A starter theme for Hoverboard development
Author:         Copter Labs
Author URI:     http://www.copterlabs.com/
Template:       hoverboard
Version:        1.0.0
*/
